
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}


.display-flex{
    display: flex;
}

.container{
margin: 2%;
}

.cards{
width: 100%;
    justify-content: space-between;
}

.card {
    width: 340px;
    height: 340px;
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90%;
}

.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.card:hover img {
    transform: translate(-100px, -100px);
}
